# Игнорировать файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать виртуальное окружение
venv/
.venv/

# Игнорировать файлы IDE
.idea/
*.iml

# Временные файлы
*.tmp
*.bak
*.swp

# Отчеты и логи
reports/
logs/

# Файлы конфигурации
.DS_Store
